<%= content_tag_for :tr, device_script do %>
  <td><%= link_to t('action.edit'), edit_device_script_path(device_script), class: 'fa fa-edit icon-only' %></td>
  <td><%= editable device_script, :name %></td>
  <td>
    <%=
        bootstrap_switch state: device_script.enabled?,
                      link_on: disable_device_script_path(device_script),
                      link_off: enable_device_script_path(device_script)
    %>
  </td>
  <td><%= editable device_script, :description %></td>
  <td>
    <%= link_to t('action.delete'), device_script_path(device_script), method: :delete, class: 'fa fa-trash-o icon-only',
                data: { confirm: "Do you really want to delete the device script <br><b>#{device_script.name}?</b>" } %>
  </td>
<% end %>
