<% provide :title, t('title.index_model', model: DeviceScript.model_name.human(count: 2)) %>

<form action="<%= request.fullpath %>" class="form-search">
  <div class="toolbar">
    <div>
      <div class="btn-group">
        <%= awesome_link_to t('action.new'), 'asterisk', new_device_script_path, class: 'btn' %>
      </div>
    </div>
    <div>
      <%= render 'shared/toolbar_search' %>
    </div>
  </div>
</form>

<%= paginated @device_scripts %>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th width="0%"></th>
      <th width="20%"><%= sortable :name, t('attributes.device_script.name') %></th>
      <th width="0%"><%= sortable :enabled, t('attributes.device_script.enabled') %></th>
      <th width="80%"><%= t 'attributes.device.description' %></th>
      <th width="0%"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @device_scripts %>
  </tbody>
</table>

<%= paginated @device_scripts %>
