<% managed_device = lookup(:device_manager).device_by_id device.id %>

<%= content_tag_for :tr, device do %>
  <td>
    <% if can? :update, Device %>
      <%= link_to t('action.edit'), edit_device_path(device), class: 'fa fa-edit icon-only' %>
		<% else %>
      <%= link_to t('action.show'), device_path(device), class: 'fa fa-eye icon-only' %>
    <% end %>
  </td>
  <td><%= editable device, :name, url: device_path(device) %></td>
  <td>
    <%= image_tag device.specific.class.small_icon %>&nbsp;<%= device.specific.class.model_name.human %>
  </td>
  <td><%= editable device, :address, url: device_path(device) %></td>
  <td>
    <i class="<%= managed_device.try(:connected?) ? 'fa fa-check-square-o' : 'fa fa-square-o' %>"></i>
  </td>
  <td><%= editable device, :description, url: device_path(device) %></td>
  <td>
    <% if can? :delete, Device %>
      <%= link_to t('action.delete'), device_path(device), method: :delete, class: 'fa fa-trash-o icon-only',
                  data: {confirm: "Do you really want to delete the device <br><b>#{device.name}?</b>"} %>
    <% end %>
  </td>
<% end %>
