<tr>
  <td>
    <%= link_to t('action.edit'), edit_user_path(user), class: 'fa fa-edit icon-only'%>
  <td><%= editable user, :name %></td>
  <td><%= user.roles.map(&:name).join ', ' %></td>
  <td><%= editable user, :email%></td>
  <td>
    <%= link_to t('action.delete'), user_path(user), method: :delete, class: 'fa fa-trash-o icon-only',
                data: { confirm: "Do you really want to delete the user <br><b>#{user.name}?</b>" } %>
  </td>
</tr>
