<% provide :title, @user.name %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <h1>Profile of</h1>

    <h2>
      <%= link_to @user, edit_user_path(@user) %>
      <%= link_to '', edit_user_path(@user), class: 'fa fa-edit' %>
    </h2>

    <div class="row-fluid">
      <div class="span1 offset3">
        Name:
      </div>
      <div class="span5">
        <a href="#" id="name" class="editable" data-type="text" data-resource="user" data-name="name" data-url="/users/<%= @user.id %>" data-original-title="Name">
          <span><%= @user.name %></span>
        </a>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span1 offset3">
        Email:
      </div>
      <div class="span5">
        <a href="#" id="email" class="editable" data-type="text" data-resource="user" data-name="email" data-url="/users/<%= @user.id %>" data-original-title="Email">
          <span><%= @user.email %></span>
        </a>
      </div>
    </div>

  </div>
</div>