<% provide :title, t('title.index_model', model: Building.model_name.human(count: 2)) %>

<form action="<%= request.fullpath %>" class="form-search">
  <input name="sort" type="hidden" value="<%= params[:sort] %>"/>
  <input name="order" type="hidden" value="<%= params[:order] %>"/>

  <div class="toolbar">
    <div>
      <div class="btn-group">
        <%= awesome_link_to t('action.new'), 'asterisk', new_building_path, class: 'btn' %>
      </div>
    </div>
    <div>
      <%= render 'shared/toolbar_search' %>
    </div>
  </div>
</form>

<%= paginated @buildings %>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th class="width-0"></th>
      <th class="width-40 width-xs-100"><%= sortable :name, t('attributes.building.name') %></th>
      <th class="width-60 hidden-xs"><%= t 'attributes.building.description' %></th>
      <th class="width-0"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @buildings %>
  </tbody>
</table>

<%= paginated @buildings %>
