<%= content_tag_for :tr, floor do %>
  <td>
    <div class="tool-actions">
      <%= link_to t('action.edit'), edit_building_floor_path(@building, floor), class: 'fa fa-edit icon-only' %>
      <%= link_to t('models.room.other'), building_floor_rooms_path(@building, floor), class: 'fa fa-columns icon-only' %>
    </div>
  </td>
  <td><%= editable floor, :name, url: building_floor_path(@building, floor) %></td>
  <td><%= editable floor, :description, url: building_floor_path(@building, floor) %></td>
  <td>
    <%= link_to t('action.delete'), [@building, floor], method: :delete, class: 'fa fa-trash-o icon-only',
                data: {confirm: t('message.confirm_delete', model: Floor.model_name.human, name: floor.name)} %>
  </td>
<% end %>
