<% provide :title, t('title.index_model', model: Floor.model_name.human(count: 2)) %>

<form action="<%= floors_path %>" class="form-search">
  <div class="toolbar">
    <div>
      <div class="btn-group">
        <% if @building %>
          <%= awesome_link_to t('action.new'), 'asterisk', new_building_floor_path(@building), class: 'btn' %>
        <% else %>
          <%= awesome_link_to t('action.new'), 'asterisk', '#', class: 'btn', disabled: true %>
        <% end %>
      </div>
      <div class="btn-group">
        <%= select_tag 'building_id', options_from_collection_for_select(@buildings, :id, :name, @building.try(:id)),
                       prompt: @building == nil ? 'Select...' : nil,
                       class: 'form-control', onchange: "submit();" %>
      </div>
    </div>
    <div>
      <%= render 'shared/toolbar_search' %>
    </div>
  </div>
</form>

<% if @floors %>
  <%= paginated @floors %>

  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="width-0"></th>
        <th class="width-40"><%= sortable :name, t('attributes.floor.name') %></th>
        <th class="width-60"><%= t('attributes.floor.description') %></th>
        <th class="width-0"></th>
      </tr>
    </thead>
    <tbody>
      <%= render @floors %>
    </tbody>
  </table>

  <%= paginated @floors %>
<% else %>
  <%= t('message.select_a_building') %>
<% end %>
