<!doctype html>

<html lang="en">
<head>
  <title>CoYoHo</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <meta name="x-coyoho-websocket" content="<%= Settings.websocket.url %>"/>

  <script src="lib/webcomponentsjs/webcomponents.js"></script>
  <script src="lib/jquery/dist/jquery.min.js"></script>
  <script src="lib/es6-promise-polyfill/promise.js"></script>

  <link rel="stylesheet" href="stylesheets/app.css" shim-shadowdom>

  <link rel="import" href="lib/polymer/polymer.html">
  <link rel="import" href="lib/grapp-app-globals/grapp-app-globals.html">
  <link rel="import" href="web/coyoho-i18n/coyoho-i18n.html">
  <link rel="import" href="web/coyoho-app/coyoho-app.html">
</head>

<body fullbleed unresolved touch-action="auto">

  <grapp-app-globals>
    <grapp-app-global-value name="defaultLocale" value="<%= I18n.default_locale %>"></grapp-app-global-value>
    <grapp-app-global-value name="locale" value="<%= I18n.locale %>"></grapp-app-global-value>
    <grapp-app-global-value name="websocketURL" value="<%= Settings.websocket.url %>"></grapp-app-global-value>
  </grapp-app-globals>

  <coyoho-app></coyoho-app>

</body>

</html>
