<% provide :title, t('title.index_model', model: Room.model_name.human(count: 2)) %>

<form action="<%= rooms_path %>" class="form-search">
  <div class="toolbar">
    <div>
      <div class="btn-group">
        <% if @building && @floor %>
          <%= awesome_link_to t('action.new'), 'asterisk', new_building_floor_room_path(@building, @floor), class: 'btn',
                              disabled: @floor.nil? %>
        <% else %>
          <%= awesome_link_to t('action.new'), 'asterisk', '#', class: 'btn', disabled: true %>
        <% end %>
      </div>
      <div class="btn-group">
        <%= select_tag 'building_id', options_from_collection_for_select(@buildings, :id, :name, @building.try(:id)),
                       prompt: @building == nil ? 'Select...' : nil,
                       class: 'form-control', onchange: "submit();" %>
      </div>
      <div class="btn-group">
        <%= select_tag 'floor_id', options_from_collection_for_select(@floors, :id, :name, @floor.try(:id)),
                       prompt: @floor == nil ? 'Select...' : nil,
                       class: 'form-control', onchange: "submit();" %>
      </div>
    </div>
    <div>
      <%= render 'shared/toolbar_search' %>
    </div>
  </div>
</form>

<% if @rooms %>
  <%= paginated @rooms %>

  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="width-0"></th>
        <th class="width-40"><%= sortable :number, t('attributes.room.number') %></th>
        <th class="width-60"><%= t('attributes.room.description') %></th>
        <th class="width-0"></th>
      </tr>
    </thead>
    <tbody>
      <%= render @rooms %>
    </tbody>
  </table>

  <%= paginated @rooms %>
<% else %>
  <%= t('message.select_a_floor') %>
<% end %>
