<% provide :title, t('title.index_model', model: Dashboard.model_name.human(count: 2)) %>

<form action="<%= request.fullpath %>" class="form-search">
  <div class="toolbar">
    <div>
      <div class="btn-group">
        <%= awesome_link_to t('action.new'), 'asterisk', new_dashboard_path, class: 'btn' %>
      </div>
    </div>
    <div>
      <%= render 'shared/toolbar_search' %>
    </div>
  </div>
</form>

<%= paginated @dashboards %>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th class="width-0"></th>
      <th class="width-60"><%= sortable :name, t('attributes.dashboard.name') %></th>
      <th class="width-40"><%= sortable :user, t('attributes.dashboard.user') %></th>
      <th class="width-0"><%= t('attributes.dashboard.default') %></th>
      <th class="width-0"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @dashboards %>
  </tbody>
</table>

<%= paginated @dashboards %>
