<% content_for :header do %>
  <%= javascript_include_tag 'dashboard_all' %>
<% end %>

<% provide :title, 'Dashboard' %>

<div ng-cloak ng-app="dashboard" ng-controller="DashboardController" ng-init="init('<%= @dashboard.id %>')"
     id="dashboard">

  <div class="row">
    <div class="col-md-12">

      <div class="btn-toolbar">
        <div class="btn-group">
          <div class="btn-group">
            <button id="dashboards" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-th-large"></i> {{dashboard.name}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li ng-repeat="dashboard in dashboards" ng-click="selectDashboard(dashboard)">
                <a href="#">{{dashboard.name}}</a>
              </li>
            </ul>
          </div>
          <button ng-click="dashboardProperties()" class="btn btn-primary" id="dashboardProperties">
            <i class="fa fa-edit"></i>
          </button>
          <a class="btn btn-primary" ng-href="<%= dashboards_path %>" data-method="get" data-no-turbolink="true"
             id="dashboardManagement">
            <i class="fa fa-list"></i>
          </a>
        </div>
        <div class="btn-group">
          <button ng-click="reload()" class="btn btn-info">
            <i class="fa fa-refresh" ng-class="{'fa-spin': state == 'loading'}"></i> {{'action.reload_dashboard' |
            i18n}}
          </button>
        </div>
        <div class="btn-group">
          <button ng-click="addWidget()" class="btn btn-success">
            <i class="fa fa-plus"></i> {{'action.add_widget' | i18n}}
          </button>
        </div>
        <div class="btn-group">
          <button ng-click="newDashboard()" class="btn btn-warning">
            <i class="fa fa-asterisk"></i> {{'action.new_dashboard' | i18n}}
          </button>
          <button ng-click="deleteDashboard()" ng-disabled="dashboard.default" class="btn btn-danger">
            <i class="fa fa-trash-o"></i> {{'action.delete_dashboard' | i18n}}
          </button>
        </div>
      </div>

    </div>
  </div>

  <div ng-show="state == 'ok' && dashboard.widgets.length == 0" class="row">
    <div class="col-md-8 col-md-offset-2">

      <br>

      <div class="jumbotron">
        <h1><i class="fa fa-plus"></i> {{'title.add_widgets_to_your_dashboard' | i18n}}</h1>

        <p>{{'description.your_dashboard_is_empty' | i18n}}</p>

        <p>{{'description.add_widgets_to_your_dashboard' | i18n}}</p>

        <p>
          <a class="btn btn-success btn-lg" role="button" ng-click="addWidget()">
            <i class="fa fa-plus"></i> {{'action.add_widget' | i18n}}
          </a>
        </p>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <gridster ng-if="state != 'error'">

        <gridster-widget id="{{ widget.id }}" ng-repeat="widget in dashboard.widgets">

          <div class="panel panel-primary"
               ng-class="{'panel-highlight': resizing || dragging}">
            <div class="panel-heading">
              <i class="fa fa-square" ng-mousedown="enableDrag()"></i> {{widget.title}}
							<span class="widget-actions pull-right">
								<span class="fa-stack" ng-click="reconnectWidget(widget)">
									<i class="fa fa-square-o fa-stack-1x"></i>
									<i class="fa fa-flash fa-stack-1x" ng-show="widget.device.connected"></i>
								</span>
		            <i ng-click="editWidgetProperties(widget)" class="fa fa-pencil-square"></i>
								<i ng-click="removeWidget(widget)" class="fa fa-times-circle"></i>
							</span>
            </div>
            <div class="panel-body" ng-include="'_' + widget.type.to_underscore()"></div>
          </div>

        </gridster-widget>

      </gridster>

    </div>
  </div>

  <div ng-if="state == 'error'" class="row">
    <div class="col-md-8 col-md-offset-2">

      <br>

      <div class="alert alert-danger">
        <p class="text-error"><i class="fa fa-warning"></i> {{'message.error_loading_dashboard' | i18n}}</p>
      </div>

    </div>
  </div>

  <% Dir[File.join File.dirname(__FILE__), 'widgets', '_*_widget.html'].each do |template| %>
    <script type="text/ng-template" id="<%= File.basename(template, '.html') %>">
      <%= render file: template %>
    </script>
  <% end %>

  <% Dir[File.join File.dirname(__FILE__), 'dialogs', '*_dialog.html'].each do |template| %>
    <script type="text/ng-template" id="<%= File.basename(template, '.html') %>">
      <%= render file: template %>
    </script>
  <% end %>

</div>

