<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-functions">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to '#', class: 'navbar-brand' do %>
      <%= image_tag 'logo.png', class: "logo" %><%= t 'title.app' %>
    <% end %>
  </div>

  <div class="collapse navbar-collapse navbar-right" id="navbar-functions">

    <ul class="nav navbar-nav">

      <% if signed_in? %>
        <li><%= link_to t('action.dashboards'), default_dashboards_path, 'data-no-turbolink' => 'true' %></li>
      <% else %>
        <li><%= link_to t('action.home'), root_path %></li>
      <% end %>

      <% if signed_in? %>

        <% if current_user.has_role? :manager %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t('manage') %> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><%= awesome_link_to t('models.device.other'), 'gears', devices_path %></li>
              <li><%= awesome_link_to t('models.device_script.other'), 'code', device_scripts_path %></li>
              <li><%= awesome_link_to t('models.building.other'), 'building-o', buildings_path %></li>
              <li><%= awesome_link_to t('models.floor.other'), 'bars', floors_path %></li>
              <li><%= awesome_link_to t('models.room.other'), 'columns', rooms_path %></li>
            </ul>
          </li>
        <% end %>

        <% if current_user.has_role? :admin %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t('system') %> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= awesome_link_to t('models.user.other'), 'user', users_path %></li>
              <li><%= awesome_link_to t('models.dashboard.other'), 'th-large', dashboards_path %></li>
              <li><%= awesome_link_to t('settings'), 'wrench', settings_path %></li>
            </ul>
          </li>
        <% end %>

      <% end %>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%= t('action.help') %> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><%= awesome_link_to t('action.help_about'), 'info', help_about_path %></li>
        </ul>
      </li>

      <% if signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= current_user.email%> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= awesome_link_to t('profile'), 'credit-card', edit_user_path(current_user, myself: :profile) %></li>
            <li><%= awesome_link_to t('action.change_password'), 'key', edit_user_path(current_user, myself: :password) %></li>
            <li class="divider"></li>
            <li><%= awesome_link_to t('action.sign_out'), 'sign-out', destroy_user_session_path %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to t('action.sign_in'), new_user_session_path %></li>
      <% end %>

    </ul>
  </div>


</nav>
